<%- include('partials/_head') %>
<%- include('partials/_navbar') %>

<main style="position:relative;">
  <div class="voltar-container">
    <button class="voltar" onclick="window.history.back()" aria-label="Voltar">
      <img src="/assets/setinha-cinza.svg" alt="Voltar" width="25" height="25">
    </button>
  </div>

  <h2 id="titulo-categoria">Categoria</h2>
  <div class="resultados-container" id="resultado-categoria"></div>
</main>

<%- include('partials/_footer') %>
